<div class="container-fluid">
    <div class="row bg-1 d-flex align-items-center">
        <div class="container mb-5 mt-5" id="postagens">
            <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active text-secondary font-weight-bold" id="todasPostagens-tab" data-toggle="tab"
                        href="#todasPostagens" role="tab" aria-controls="todasPostagens" aria-selected="true">Todas as
                        Postagens</a>
                </li>
                <li class="nav-item" (click)='findByIdUser()'>
                    <a class="nav-link text-secondary font-weight-bold" id="minhasPostagens-tab" data-toggle="tab"
                        href="#minhasPostagens" role="tab" aria-controls="minhasPostagens" aria-selected="false">Minhas
                        Postagens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary font-weight-bold" id="postagensTema-tab" data-toggle="tab"
                        href="#postagensTema" role="tab" aria-controls="postagensTema" aria-selected="false">Postagens
                        por Temas</a>
                </li>
            </ul>

            <!-- <h2 *ngIf='listarPostagem.length == 0' class="text-center text-secondary mt-5">
                Não existem postagens ainda...
            </h2> -->

            <div class="tab-content mt-5" id="myTabContent">
                <!-- Todas as postagens -->
                <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel"
                    aria-labelledby="todasPostagens-tab">
                    <div class="row d-flex justify-content-center mt-5 mb-5">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="titulo"
                                    placeholder="Digite um titulo de postagem para pesquisar" [(ngModel)]='tituloPost'
                                    (keyup)='findByTituloPostagem()'>
                            </div>
                        </div>
                    </div>

                    <div class="card-columns">
                        <div class="card text-center border-info"
                            *ngFor='let item of listarPostagem | orderBy : key : reverse'>
                            <div class="card-body">
                                <h5 class="card-title text-info">{{ item.titulo }}
                                    <p class="card-text text-muted fs-11">{{ item.tema.titulo }}</p>
                                </h5>
                                <p class="card-text">
                                    {{ item.texto }}
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}
                                </small>
                                <br>
                                <small class="text-muted">
                                    <i class="fa fa-user" aria-hidden="true"></i> {{ item.user.nome }}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Todas as postagens -->

                <!-- Minhas postagens -->
                <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="minhasPostagens-tab">
                    <div class="card-columns">
                        <div class="card text-center border-info"
                            *ngFor='let item of user.postagem | orderBy : key : reverse'>
                            <div class="card-body">
                                <h5 class="card-title text-info">{{ item.titulo }}
                                    <p class="card-text text-muted fs-11">{{ item.tema.titulo }}</p>
                                </h5>
                                <p class="card-text">
                                    {{ item.texto }}
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}
                                </small>
                                <br>
                                <a [routerLink]="['/postagem-edit', item.id]" class="text-info mr-3">Editar</a>
                                <a [routerLink]="['/postagem-delete', item.id]" class="text-danger">Apagar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Minhas postagens -->

                <!-- Postagens por temas -->
                <div class="tab-pane fade" id="postagensTema" role="tabpanel" aria-labelledby="postagensTema-tab">
                    <div class="row d-flex justify-content-center mt-5 mb-5">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="titulo"
                                    placeholder="Digite um titulo de postagem para pesquisar" [(ngModel)]='nomeTema'
                                    (keyup)='findByNomeTema()'>
                            </div>
                        </div>
                    </div>

                    <div class="card-columns" *ngFor='let tema of listarTema'>
                        <div class="card text-center border-info"
                            *ngFor='let item of tema.postagem | orderBy: key: reverse'>
                            <div class="card-body">
                                <h5 class="card-title text-info">{{ item.titulo }}
                                    <p class="card-text text-muted fs-11">{{ tema.titulo }}</p>
                                </h5>
                                <p class="card-text">
                                    {{ item.texto }}
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    {{item.data | date: ' dd/MM/yyyy'}} às {{item.data | date: 'HH:mm' }} </small>
                                <br>
                                <small class="text-muted">
                                    <i class="fa fa-user" aria-hidden="true"></i> {{ item.user.nome }}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Postagens por temas -->
            </div>
        </div>
    </div>
</div>