<div class="container-fluid">
    <div class="row bg-1 d-flex align-items-center">
        <div class="container mb-5 mt-5" id="postagens">
            <nav>
                <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

                    <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-todasPostagens-tab"
                        data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens"
                        aria-selected="true">Todas as Postagens</a>


                    <a (click)='findByIdUser()' class="nav-item nav-link text-secondary font-weight-bold"
                        id="nav-minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab"
                        aria-controls="nav-minhasPostagens" aria-selected="false">Minhas
                        Postagens</a>

                    <a (click)='findByIdTema()' class="nav-item nav-link text-secondary font-weight-bold" id="nav-postagemTema-tab"
                        data-toggle="tab" href="#postagemTema" role="tab" aria-controls="nav-postagemTema"
                        aria-selected="false">Postagens por
                        tema</a>

                </div>
            </nav>


            <!-- <h2 class="text-center text-secondary mt-5">
                Não existem postagens ainda...
            </h2> -->

            <div class="tab-content mt-5" id="nav-tabContent">
                <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel"
                    aria-labelledby="nav-todasPostagens-tab">
                    <div class="card-columns">
                        <div class="card text-center border-info" *ngFor='let item of listarPostagem'>
                            <div class="card-body">
                                <h5 class="card-title text-info">{{ item.titulo }}
                                    <p class="card-text text-muted fs-11"> {{ item.tema.titulo }}</p>
                                </h5>

                                <p class="card-text">{{ item.texto }}</p>
                            </div>
                            <div class="text-muted">
                                <small> {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date:
                                    'HH:mm'}}</small>
                                <p>
                                    <small>
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        {{ item.user.nome }}
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade show active" id="minhasPostagens" role="tabpanel"
                    aria-labelledby="nav-minhasPostagens-tab">
                    <div class="card-columns">
                        <div class="card text-center border-info" *ngFor='let item of user.postagem'>
                            <div class="card-body">
                                <h5 class="card-title text-info">{{ item.titulo }}
                                    <p class="card-text text-muted fs-11"> {{ item.tema.titulo }}</p>
                                </h5>

                                <p class="card-text">{{ item.texto }}</p>
                            </div>
                            <div class="text-muted">
                                <p>
                                    <small>
                                        {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date:
                                        'HH:mm'}}
                                    </small>
                                </p>
                            </div>
                            <div class="card-footer">
                                <a [routerLink]="['/postagem-edit', item.id]" class="text-info mr-3">Editar</a>
                                <a [routerLink]="['/postagem-delete', item.id]" class="text-danger ml-3">Apagar</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade show active" id="postagemTema" role="tabpanel"
                    aria-labelledby="nav-postagemTema-tab">
                    <div class="card-columns" *ngFor='let tema of listarTemas'>
                        <div class="card text-center border-info" *ngFor='let item of tema.postagem'>
                            <div class="card-body">
                                <h5 class="card-title text-info">{{ item.titulo }}
                                    <p class="card-text text-muted fs-11"> {{ item.tema.titulo }}</p>
                                </h5>

                                <p class="card-text">{{ item.texto }}</p>
                            </div>
                            <div class="text-muted">
                                <p>
                                    <small>
                                        {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date:
                                        'HH:mm'}}
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>