<div class="container-fluid">
    <div class="row bg-1 d-flex align-items-center">
        <div class="container mb-5 mt-5" id="postagens">
            <nav>
                <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

                    <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-todasPostagens-tab"
                        data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens"
                        aria-selected="true">Todas as Postagens</a>


                    <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-minhasPostagens-tab"
                        data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens"
                        aria-selected="false">Minhas
                        Postagens</a>

                    <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-postagemTema-tab"
                        data-toggle="tab" href="#postagemTema" role="tab" aria-controls="nav-postagemTema"
                        aria-selected="false">Postagens por
                        tema</a>

                </div>
            </nav>

            <h2 *ngIf='listaPostagens.length == 0' class="text-center text-secondary mt-5">
                Não existem postagens ainda...
            </h2>

            <div class="tab-content mt-5" id="nav-tabContent">

                <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel"
                    aria-labelledby="nav-todasPostagens-tab">

                    <div class="row d-flex justify-content-center mt-5 mb-5">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" id="titulo"
                                    placeholder="Digite um titulo de postagem para pesquisar">
                            </div>
                        </div>
                    </div>

                    <div class="card-columns">
                        <div class="card text-center" *ngFor='let item of listaPostagens'>
                            <div class="card-body">
                                <h5 class="card-title m-0">{{item.titulo}}</h5>
                                <small class="text-muted"> Tema: {{item.tema.titulo}}</small>
                                <p class="card-text mt-3">{{item.texto}}</p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}
                                    </small>
                                </p>

                                <p class="card-text">
                                    <small class="text-muted">
                                        <i class="fa fa-user" aria-hidden="true"></i> {{item.user.nome}}
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tab-pane fade" id="minhasPostagens" role="tabpanel"
                    aria-labelledby="nav-minhasPostagens-tab">


                    <div class="card-columns">
                        <div class="card text-center" *ngFor='let item of user.postagem'>
                            <div class="card-body">
                                <h5 class="card-title m-0">{{item.titulo}}</h5>
                                <small class="text-muted"> Tema: {{item.tema.titulo}}</small>
                                <p class="card-text mt-3">{{item.texto}}</p>
                                <p class="card-text"><small class="text-muted">
                                        {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}
                                    </small>
                                </p>
                                <a class="text-info mr-3" href="">Editar</a>
                                <a class="text-danger" href="">Apagar</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tab-pane fade" id="postagemTema" role="tabpanel" aria-labelledby="nav-postagemTema-tab">

                    <div class="row d-flex justify-content-center">
                        <div class="col-md-4">

                            <div class="form-group mb-5">
                                <input type="text" class="form-control" id="tituloPesquisa"
                                    placeholder="Digite um tema para pesquisar">
                            </div>

                        </div>
                    </div>

                    <div class="card-columns">
                        <div class="card text-center" *ngFor='let item of tema.postagem'>
                            <div class="card-body">
                                <h5 class="card-title m-0">{{item.titulo}}</h5>
                                <p class="card-text mt-3">{{item.texto}}</p>
                                <p class="card-text"><small class="text-muted">
                                        {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}
                                    </small></p>

                                <p class="card-text"><small class="text-muted">
                                        by: {{item.user.nome}}
                                    </small></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>