.bg {
    background-color: #79B4B7;
}

.bg-2{
    background-color: #88A3AD;
}


ul.social-network {
    padding: 0px;
    list-style: none;
}

ul.social-network li {
    display: inline;
}

.fa {
    color: white;
    font-size: 23pt;
    transition: 250ms;
}

.fa-linkedin-square:hover {
    color: #2867B2;
    transform: translateY(-3px);
}

.fa-github-alt:hover {
    color: #000000;
    transform: translateY(-3px);
}

.fa-instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateY(-3px);
}