<footer class="page-footer font-small bg pt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h5 class="text-white">Acompanhe o desenvolvedor em suas redes sociais!</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.instagram.com/jonpdro/" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/jonpdro" target="_blank" class="pr-3 pl-3">
                            <i class="fa fa-github-alt" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/joaopdrocruz" target="_blank">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-2 text-center py-3">
        <span class="text-white">© 2021 - Todos os direitos reservados para o desenvolvedor.</span>
    </div>
</footer>