<nav class="navbar navbar-expand-md navbar-light bg">
    <img src="../../assets/img/favicon.png" class="d-inline-block align-top favicon" alt="Icon da Page">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <form class="form-inline">
            <div class="form-group search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control" placeholder="Pesquisar">
            </div>
        </form>
        <ul class="navbar-nav icon ml-auto">
            <li class="nav-item active">
                <i class="fa fa-home" aria-hidden="true"></i>
            </li>
            <li class="nav-item">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </li>
            <li class="nav-item">
                <i class="fa fa-bell" aria-hidden="true"></i>
            </li>
            <li class="nav-item">
                <i class="fa fa-user" aria-hidden="true"></i>
            </li>
            <li class="nav-item">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
</nav>