<div class="container-fluid">
    <div class="row bg d-flex justify-content-center">
        <div class="col-md-auto">
            <nav>
                <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-todasPostagens-tab"
                        data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens"
                        aria-selected="true">Todas as Postagens</a>


                    <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-minhasPostagens-tab"
                        data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens"
                        aria-selected="false">Minhas
                        Postagens</a>

                    <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-postagemTema-tab" data-toggle="tab"
                        href="#postagemTema" role="tab" aria-controls="nav-postagemTema" aria-selected="false">Postagens
                        por tema</a>
                </div>
            </nav>
        </div>
    </div>
</div>