<div class="container-fluid ctnr">
  <div class="row d-flex justify-content-center">
    <div class="col-md-4">
      <div class="row d-flex justify-content-center">
        <div class="col-md-auto">
          <div class="myform">
            <div class="col text-white">
              <p class="text-center">
                <i class="fa fa-user-circle icon" aria-hidden="true"></i>
              </p>
              <h2>Entrar</h2>
              <p>Faça o seu login para acessar a rede social!</p>
            </div>
            <form class="mt-2" action="" method="post" name="login">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-at fa-size" aria-hidden="true"></i>
                    </div>
                  </div>
                  <input [(ngModel)]='userLogin.username' type="text" name="username" class="form-control" id="username"
                    placeholder="Usuario">
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-lock fa-size" aria-hidden="true"></i>
                    </div>
                  </div>
                  <input [(ngModel)]='userLogin.senha' type="password" name="senha" id="senha" class="form-control"
                    placeholder="Senha">
                </div>
              </div>

              <div class="col">
                <div class="row d-flex align-items-center">
                  <div class="col-md-auto">
                    <p class="text-center pt-2 tr-y"><a routerLink="/cadastrar" class="text-white" id="signup">Criar
                        conta</a></p>
                  </div>
                  <div class="col-md-auto ml-auto">
                    <button type="submit" class="btn mybtn tr-y" (click)='entrar()'>Entrar</button>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>