h1 {
    font-size: 40pt;
}

h5 {
    font-size: 19pt;
}

.form-control {
    border-radius: 10px;
    border: none;
    outline: 0;
}

.mybtn {
    border-radius: 18px;
    background-color: #FEFBF3;
    color: #33858a;
}